:root, :host {
  --normalbg: #fff;
  --darkerbg: #ddd;
  --borderbg: black;
  --text-color: #000;
  --statusText: black;
  --statusOk: #4c4;
  --statusIncident: #ffbc40;
  --status-maintenance-color: #ee0;
  --status-unknown-color: gray;
}

@media (prefers-color-scheme: dark) {
  :root, :host {
    --normalbg: black;
    --darkerbg: #444;
    --borderbg: #777;
    --text-color: #eee;
    --statusText: black;
    --statusOk: #4a4;
    --statusIncident: #eb8100;
    --status-maintenance-color: #bb0;
    --status-unknown-color: #bbb;
  }

  a {
    color: #2c84fa;
  }
}

body {
  font-family: sans-serif;
  background-color: var(--normalbg);
  color: var(--text-color);
}

h1.title {
  font-size: 3rem;
}
h1.title svg {
  height: 3rem;
  vertical-align: middle;
  margin-right: 6px;
}

@media only screen and (max-width: 600px) {
  h1.title {
    font-size: 2rem;
  }
  h1.title svg {
    height: 2rem;
    margin-right: 0;
  }
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
      
/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
  max-width: 800px;
}

.name {
  font-size: 1.5rem;  
}

.date {
  margin: 6px 0 32px 0;
  filter: brightness(50%);
  font-size: 0.8rem;
}

#panel {
  text-align: left;
}

#menu {
  margin-top: 36px;
  margin-bottom: 12px;
}

#multistatus {
  margin: 12px;
  margin-bottom: 24px;
}

div.status {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 0.3rem;
  padding-right: 1rem;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
  margin: 0.1rem;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  vertical-align: baseline;
  cursor: pointer;
  font-size:0.8rem;
  border-radius: 4px;
  color: var(--text-color);
  background-color: var(--darkerbg);
}

div.status.details {
  width: 100%;
  background: none;
  margin-left: 0;
  padding-left: 0;
}

.details table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 6px 0;
}

.details table td,th {
  border:1px solid var(--borderbg);
  padding: 6px;
}

.details table tr {
  background: var(--darkerbg);
}

#selection, #others {
  border: 1px solid var(--text-color);
  border-radius: 4px;
  background: var(--normalbg);
  padding: 6px; 
  margin:6px 0;
  min-height: 100px;
}

div.status.status-ok {
  padding-left: 1rem;
  background-color: var(--statusOk);
  color: var(--statusText);
}

div.status.status-resolved {
  border-left: 9px solid var(--statusOk);
}

div.status.status-incident {
  border-left: 9px solid var(--statusIncident);
}

div.status.status-maintenance {
  border-left: 9px solid var(--status-maintenance-color);
}

div.status.status-unknown {
  border-left: 9px solid var(--status-unknown-color);
}


td.status-incident {
  background: var(--statusIncident);
  color: var(--statusText);
}

td.status-resolved {
  background: var(--statusOk);
  color: var(--statusText);
}

td.status-maintenance {
  background: var(--status-maintenance-color);
  color: var(--statusText);
}

td.status-unknown {
  background: var(--status-unknown-color);
  color: var(--statusText);
}
